.editable-click, 
a.editable-click, 
a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}

.editable-click.editable-disabled, 
a.editable-click.editable-disabled, 
a.editable-click.editable-disabled:hover {
   color: #585858;  
   cursor: default;
   border-bottom: none;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus{
  font-style: italic; 
  color: #DD1144;  
  /* border-bottom: none; */
  text-decoration: none;
}

.editable-input-empty {
	width: 120px;
}

.select2-container {
	min-width: 320px;
}

.cates-title {
	margin-bottom: 0px;
}

.cates-item {
	margin-bottom: 5px;
	margin-top: 5px;
}

.pic-container img {
  margin: 0 auto;
}