div.profile-dash {
	margin-top: -20px;
	width: 100%;
	min-height: 29px;
	border-bottom: 1px solid #e5e5e5;
	background: rgba(255,255,255,0.6);
}

div.profile-dash div.profile-dash-inner {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 12px;
	z-index: 3;
}

ul.profile-stats {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.profile-stats>li {
	float: left;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
	font-size: 12px;
	line-height: 1;
}

ul.profile-stats>li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

ul.profile-stats>li a {
	display: inline-block;
	color: rgba(0,0,0,0.37);
	line-height: 50px;
}

span.badge, span.badge-sale {
	padding: 1px 3px;
	font-size: 10px;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	background: #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ul.profile-stats ul {
	list-style: none;
	display: none;
	position: absolute;
	width: 200px;
	margin: -5px 0 0 -20px;
	padding: 6px 0 10px 0;
	font-size: 12px;
	background: #fafafa;
	border-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
	z-index: 999;
}

.main-inner {
	padding: 20px 12px 30px 12px;
}

div.profile-head {
	position: relative;
	z-index: 2;
}

div.profile-head h1 {
	line-height: 1;
	text-align: center;
}

div.profile-head h1 a.url {
	font-size: 26px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: -1px;
	color: rgba(0,0,0,0.72);
	outline: none;
	text-decoration: none;
}

div.profile-head h1 img.photo {
	width: 80px;
	margin: -60px auto 10px auto;
	box-shadow: inset 0 0 0 -2px rgba(255, 255, 255, 0.48),0 0 0 1px rgba(0, 0, 0, 0.14),0 0 0 8px white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

div.profile-head h2.bio {
	padding: 8px 15% 0 15%;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
	color: rgba(0,0,0,0.51);
}

div.profile-head ul.profile-details {
	margin: 5px 0 0 0;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

div.profile-head ul.profile-details li {
	display: inline;
	margin: 0 12px;
	font-size: 16px;
	line-height: 24px;
	color: #777;
}

div.profile-head ul.profile-details li a {
	display: inline-block;
	height: 18px;
	margin: 0 5px;
	padding: 3px 0 3px 15px;
	color: rgba(0,0,0,0.51);
	background-repeat: no-repeat;
	background-position: 0 6px;
	outline: none;
	text-decoration: none;
}

div.profile-head ul.profile-details li a:hover {
	color: rgba(0,0,0,0.72);
}

div.profile-head ul.profile-details li a i.fa {
	padding-top: 2px;
	margin-right: 4px;
}

div.profile-dash-actions {
	position: absolute;
	top: -61px;
	right: 0;
	min-width: 340px;
}

div.profile-dash-actions div.follow-prompt, div.profile-dash-actions div.follow-prompt a, div.profile-dash-actions span.follows-you {
	float: right;
	margin: 0;
}

a.follow, a.unfollow, div.follow-prompt a.unblock {
	float: right;
	margin: 0;
	padding: 7px 12px;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a.follow, a.unfollow{
	display: inline-block;
	float: left;
	margin: 0 5px 0 0;
	color: #666;
	background-color: rgba(0,0,0,0.16);
}

a.follow:hover {
	border-color: #8aba56;
	background-color: #8aba56;
}

a.follow i.fa {
	padding-top: 2px;
	margin-right: 4px;
}

div.main-cotent-inner {
	margin-top: 15px;
	padding-top: 20px;
	border-top: 1px solid rgba(0,0,0,0.07);
}

/*** daren **/
#daren-filter a.tab {
    float: left;
	background-color: #FFF;
	color: #444;
	font-size: 16px;
	height: 36px;
	padding: 0px 20px;
	line-height: 36px;
}

#daren-filter a.tab.active {
    background-color: #333;
    color: #FFF;
}

#daren .user-info {
	padding: 15px 15px 15px 15px;
}

#daren .user-info img.avatar {
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 50%;
    background: none repeat scroll 0% 0% #FFF;
}

#daren .user-info .user-right {
    float: left;
    margin-left: 18px;
    width: 334px;
    position: relative;
}

#daren .user-info .user-right {
    width: 222px;
}

#daren .user-info .user-right p {
    margin: 0px;
    line-height: 25px;
    color: #444;
    font-size: 18px;
}

#daren .user-info .user-right p.user-name {
    float: left;
}


#daren .user-info .user-right p.user-name a {
    color: #222;
}


#daren .social-links {
    vertical-align: top;
    display: inline-block;
    margin-left: 12px;
    padding-top: 2px;
}

#daren .social-links li {
	list-style: outside none none;
    display: inline-block;
    margin-right: 10px;
}

#daren .social-links li, #daren .social-links li a {
    height: 20px;
    color: #5F5F5F;
}

#daren .social-links li.weibo a:hover {
	color: #FF0000;
}

#daren .user-info .user-right p {
    margin: 0px;
    line-height: 25px;
    color: #444;
    font-size: 18px;
}

#daren .user-info .user-right p.user-location {
    border-bottom: 1px solid #E2E2E2;
    color: #999;
    font-size: 14px;
    margin-bottom: 6px;
    padding-bottom: 6px;
    clear: left;
}

#daren .user-info .user-right p.user-count {
    color: #9E7E6B;
    font-size: 12px;
}

#daren .user-info .user-right p.user-count .follow-count {
    margin-left: 4px;
}


#daren .user-info .followuser {
    cursor: pointer;
}

#daren .user-info .followuser span {
    display: block;
    position: absolute;
    bottom: 0px;
    color: #FFF;
    width: 50px;
    height: 28px;
    border-radius: 2px;
    padding: 3px 5px;
    background-color: #EA714C;
    right: 0px;
}

#daren .user-pins {
	position: relative;
    width: 380px;
    margin-top: 24px;
}

#daren .user-pins img {
	float: left;
}

#daren .user-pins img.l {
    width: 242px;
    height: 242px;
}

#daren .user-pins img.s {
    width: 120px;
    height: 120px;
    margin-left: 3px;
}

#daren .user-pins img.s0 {
    margin-top: 3px;
}
